/* global.css v.3.0 cb 20120-02-02 10:37
 * This file  holds the main styles for the iied.org website. 
 * Styles are declared more or less in order of appearance on the page
 */

/* Default font and link colours  (overridden in /colours/set_x/colour.css) */

html, body {
	color:#6D6D6D;
	line-height: 1.67em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing:normal;
	line-height: 1.5em;
}

h1 {
	font-size: 34px;
}


h2 {
	font-size: 23px;
}

h3 {
	font-size: 20px;
	line-height: 1.3em;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}


h6 {
	font-size: 14px;
}

/* Branding */

#region-branding {
	padding: 0;
}

#satlogo {
	padding-left: 100px;
}

#satellite {
	margin: 0;
	background: url(/sites/default/files/1px_satellite_topbanner.png) repeat-x scroll left top;
	height: 38px;
}

.branding-data {
	background: none; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006a62', endColorstr='#9eb4b1',GradientType=0 ); /* IE6-9 */
	padding: 0 0 00px 00px;
	height: 0px;
}

h1.site-name a, #region-branding h2.site-name, #region-branding h2.site-name a {
	font-size: 36px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none;
	font-weight:bold;
}

h2.site-name, h1.site-name {
	line-height: 25px;
}

.logo-img {
	margin: 9px 20px 0 0;
	float:left;
}

img.iiedlogo {
	float: right;
	/*margin: 0 15px 0 -10px;*/
	margin: 15px -290px 0 12px;
}	

.site-name-slogan {
	white-space: nowrap;
}

h6.site-slogan {
	color: #FFF;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: normal;
	letter-spacing:normal;
	line-height: 1.5em;
	margin: 5px 0px 9px 0px;
	
}



.eubanner .euoutline {
	color: BDD6DD;
	-webkit-text-stroke: 1.0px #FFFFFF;
	-webkit-text-fill-color: #006A62
}



/* User role menu (Information for) */

#block-menu-menu-information-for {
	float:right;
	margin-bottom: 5px;
}

#block-menu-menu-information-for ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#block-menu-menu-information-for ul li {
	display:inline;
	padding-left: 1em;
	margin: 0;
}

#block-menu-menu-information-for ul li a {
	color:#6D6D6D;	
	padding-bottom: 3px;
	border-bottom: solid 1px #E6E6E6;
}

#block-menu-menu-information-for ul li a:hover, #block-menu-menu-information-for ul li a:active {
	border-bottom-width: 3px;
}


/* Main menu */

#zone-menu {
	height: 57px;
	margin-top: 0px;
}

#main-menu li {
	padding: 0;
}

#main-menu li a {
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	color: black;
	padding: 10px 0;
	border-bottom: solid 4px #E6E6E6;
	display:block;
	float:left;
	width: 140px;
	margin-right: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu li a.active-trail {
	border-bottom-width: 6px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#block-menu-menu-information-for li a {
	font-size: 12px;
}


/* Secondary menu */

ul#secondary-menu {
	display:block;
	margin-top: 34px;
	margin-right: -2em;
	clear:left;
}

ul#secondary-menu li {
	padding-left: 0;
	margin-right: 1.5em;
}


/* Search box */

#block-search-form {
	text-align:right;
	margin-top: 0em;
	white-space: nowrap;
}

#edit-search-block-form--2 textarea {
	font-family:Verdana, Geneva, sans-serif !important;
}

#block-search-form .form-actions input {
	margin:0;
	padding:0;
}

#edit-search-block-form--2 {
	height: 25px;
	width: 186px;
}

.form-item-custom-search-blocks-form-1 {
	float:left;
}

#custom-search-blocks-form-1 #edit-actions {
	float:left;
	margin-top: 30px;
}


/* Carousel */

.region-preface-first-inner {
	margin: 20px 0 0;
	border-top: solid 6px gray;
}



/* Page title */

.page_title h1, h1#page-title {
	margin: 0 0 20px 0 !important;
	font-size: 30px !important;
	border: none !important;
	line-height: 1.3em;
}

.page-news-blogs #page-title {
	display: none;
}

.page-about-us p.page_title, #page-title {
	font-size:19px;
	line-height:1.6em;
	margin-left: -10px;
}

.page-our-work p.page_title {
	font-size:16px; 
	color: #161616;
}

.page-our-work .grid-4, .page-our-work .grid-8, .page-about-us .grid-8 {
 	padding:0;
 	margin: 0;
}

/* Captions on hover */

p.caption { 
	display: block;
	position: relative !important;
	margin-top: -50px;
}

p.caption img { 
	position: absolute !important;
}

p.caption span { 
	background: #000; 
	background: rgba(0,0,0,0.5); 
	color: white; 
	display: none; 
	position: absolute;
	padding: 5px;
	bottom: 0; 
	left: 0; 
	font-size: 90%;
  	filter: alpha(opacity = 50)
}

p.caption span big {
	font-weight: bold; 
}

div.clear { 
	clear: both; 
}


/* Column headers */

.region-sidebar-first h2, .region-content h2, .region-sidebar-second h2, .panel-pane h2, .region-postscript-first h2, .region-postscript-second h2, .region-postscript-third h2 {
	font-size:26px;
	font-weight: normal;
	border-bottom: solid 6px gray;
	margin: .5em 0;
	line-height: 1.3em;
}

/* sub headers */


#region-content .node-article h2, #region-content .node-project h2, #region-content .node-blog h2 {
	border:none;
	color: #333;
	font-size:23px;
	font-weight: normal;
}

.node-type-blog .field-name-body h3, .node-type-article .field-name-body h3 {
	color: #333;
}

.node-type-blog .field-name-body h2 strong, .node-type-blog .field-name-body h3 strong, .node-type-article .field-name-body h2 strong, .node-type-article .field-name-body h3 strong {
	font-weight: normal;	
}

.node-type-blog .field-name-body h4, .node-type-blog .field-name-body h5, .node-type-article .field-name-body h4, .node-type-article .field-name-body h5 {
     color:#333;  
     font-family: Verdana, Geneva, sans-serif;
     font-size:14px;
	 font-weight: 700;
}


/* Exception on Our work page */

.page-our-work .views-field-title h1 {
	margin: 0px;
}

a:link, a:visited {
	text-decoration: none;
	color:#6D6D6D;	
}

a:hover, a:active {
	text-decoration: underline;
	color: black;
}

.menu a:hover, .menu a:active, .main-menu a:hover, .main-menu a:active {
	text-decoration: none;
	border-bottom-color: black;
}

/* News and blogs */

div.tweets-pulled-listing ul {
	padding: .5em 0;
	border-bottom: solid 1px #A7A7A7;
	margin: 0;
	min-height: 3em;
	font-size: 13px;
}

.view-latest-nodes h3, .view-projects-and-articles-blocks-and-panes h3, .view-latest-blogs-blocks h3, .block-popularcontent-block-2 h3{
	font-size: 14px;
	margin: 0;
	clear: left;
}

.page-news-blogs .view-latest-blogs-blocks h3, .page-blogs .view-latest-blogs-blocks h3 {
	font-size: 20px;
}

.view-latest-nodes .views-row, .view-news-and-blogs .views-row, .view-Highlights .views-row, .view-latest-blogs-blocks .views-row, .view-aggregator-items .views-row, .view-projects-and-articles-blocks-and-panes .views-row, .block-popularcontent-block-2 .views-row, .view-related-nodes .views-row, .view-blog-themes .views-row, .view-blog-archive .views-row {
	border-bottom: solid 1px #A7A7A7;
	margin-bottom: 1em;
	min-height: 3em;
	padding-bottom: 5px;
}

.page-news-blogs h3.sign-up {
	margin-bottom: 0;
}


.page-news-blogs #zone-footer {
	margin-top: 1em;
}

/* ie fix */
 .page-news-blogs #block-system-main .view-latest-blogs-blocks .field-content img {
     max-width: auto;
 }

.view-latest-nodes .views-row-last, .view-news-and-blogs .views-row-last, .view-Highlights .views-row-last, .view-latest-blogs-blocks .views-row-last, .view-aggregator-items .views-row-last, .view-projects-and-articles-blocks-and-panes .views-row-last { 
	margin-bottom: 0em;
}

.attachment h3 {
	font-size: 20px;
}

.views-field-field-blogger-photo, .node-teaser .field-name-ds-user-picture, .node-teaser .field-name-field-main-image {
	float: left;
	margin: 7px 15px 5px 0;
}

.page-news-blogs .views-field-field-blogger-photo {
	float: left;
	margin: 7px 15px 50px 0;
}

.view-latest-blogs-blocks .views-field-body, .view-blog-themes .views-field-body, .view-blog-archive .views-field-body {
	display:block;
	margin: 0 0 10px 77px;
}

.views-field-created {
	color: #A5A5A5;
	margin-bottom: 5px;
}

.view-latest-nodes .attachment-before {
	margin-bottom: 1em;
}

.view-mode-full .field-name-field-addthis {
	border-bottom: 6px solid gray; 
	margin: 0 0px 20px 0;
    padding-bottom: 10px;
}


.node-type-blog .view-mode-full .field-name-field-addthis, .node-type-media .view-mode-full .field-name-field-addthis {
	margin: 0 -80px 20px 0;
}

.view-mode-full .field-type-addthis .addthis_toolbox {
	float:right;
	margin: -20px 0 0;
}

/* Blog pages */

.page-bloggers h3, .page-blog h3 {
	clear:left;
}

.page-blog div.view-display-id-attachment_2 { /* popular tags */
	clear:left;
}

.page-blog .view-blog-posts-by-user .view-display-id-attachment_2 div {
	display:inline;
}

.page-blog .views-field-body {
	border-bottom: solid 1px #A7A7A7;
	margin-bottom: 1em;
}

blockquote {
    background: url("../images/l_quote.png") no-repeat scroll 1% 15% #FFFFFF;
}
blockquote p {
    background: url("../images/r_quote.png") no-repeat scroll 99% 85% transparent;
    margin-bottom: 0;
    padding: 10px 50px;
}
blockquote {
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    clear: both;
    color: #414141;
    display: block;
    font-family: "Myriad Pro",Verdana,sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 23px;
    margin: 10px 0 30px;
    width: 100%;
}

.disclaim {
	font-size:10px;
	line-height:13px;
	padding-top: 10px;
	border-top: 1px solid #919191;
}

.node-type-blog .region-sidebar-second #block-tagclouds-19 span, .pane-tagclouds-19 span {
	line-height: 3.5em;
	}

.block-apachesolr-search.contextual-links-region .item-list ul li {
    margin: 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	line-height: 1.67em;
}

.field-name-field-standfirst {
	font-size: 15px;
	margin-bottom: 1em;
}

.page-bloggers .views-row {
	float: left;
	height: 250px;
	border-bottom:1px solid #BEBEBE;
	padding-bottom: 5px;
}

.blogger {
	width: 180px;
	margin: 25px;
}


.not-logged-in.page-blog ul.action-links {
	display:none; /* Remove posting links */
}

.field-name-taxonomy-vocabulary-15 .field-items {
    float: none;
}


/* blog archives */

.view-id-blog_archive .item-list ul li, .view-themes-list .views-row {
    margin: 0 0 0.25em;
}

.view-blog-themes .views-row-last {
    margin-bottom: 0px;
}


/* media release */

.pull-quote {
	background: url("../images/l_quote.png") no-repeat scroll 1% 7% #FFFFFF;
	border-bottom: 1px solid #AAC02C;
	border-top: 6px solid #AAC02C;
	clear: right;
	float: right; 
	margin: 0 -80px 0 15px;
	width: 220px; 
}

.pull-quote p {
    background: url("../images/r_quote.png") no-repeat scroll 99% 95% transparent;
    margin-bottom: 0;
    padding: 40px 0;
	color: #333;
}

/* Tag cloud */

#block-tagclouds-19, .pane-tagclouds-19 {
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom: solid 1px #A7A7A7;
}

#block-tagclouds-19 span, .pane-tagclouds-19 span {
	font-size: 85%;
	line-height: 4em;
	padding: 0 1em 0 0;
}

.field-type-taxonomy-term-reference .field-item {
	display:inline;
	margin-right: 4px; 	
}

.field-type-taxonomy-term-reference .field-item:after {
        content:",";
}

.field-type-taxonomy-term-reference .field-item:last-child:after  {
        content:".";
}


.view-mode-full .field-name-taxonomy-vocabulary-19 {
	border-top: 1px solid #919191;
	margin: 5px 0 10px 0; 
}

.view-mode-full .field-name-taxonomy-vocabulary-15 {
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0; 
}

/* highlights */

.view-Highlights .highlight-text a, .view-latest-blogs-blocks .highlight-text a {
	text-decoration:none; 
}

.view-Highlights .views-row {
	padding-bottom: 6px; 
}


/* Node titles */

/*h2.field-content {
	line-height: 1em;
}
*/

.field-content {
	margin-bottom: 0.5em
}

/* links */

.more-link {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:21px;
	text-align:left;
	line-height: 1.9em;
	border-bottom: none;
	clear: left;
	margin-bottom: 10px;
}

a.promo-text, a .promo-text {
	color: #6D6D6D !important; 
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:1.67em;
}

a.promo-text:hover, a .promo-text:hover {
	color: #333333 !important; 
	text-decoration: none !important; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Inline links to content */

.views-field-view-node {
	float: right;
	font-size: 200%;
	font-family: "Helvetica narrow", "Arial narrow", Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: -1.5em;
}

.content h4 {
    /* border-bottom: 1px solid #A7A7A7; */
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

/* Follow icons & tweets */

.followicons {
	text-align: right;
	float:right;
	margin-top: -4em;
}

div.tweets-pulled-listing div.tweet-authorphoto {
	margin: 5px 15px 5px 5px;
}

span.tweet-text {
	margin-left: 56px;
	display: block;
}

.tweet-author {
	display:none;
}

/* Browse by theme */

ul.facetapi-tagcloud-widget li a {
	display:block;
	float:left;
	margin: 0;
	padding: 8px 8px 8px 0;
}

/* pubs */

#block-views-publication-items-block-1 .views-field-field-main-image, .block-191 .views-field-field-main-image, .pane-block-196 .views-field-field-main-image {
	float:left;
	padding: 3px 0;
}

#block-views-publication-items-block-1 .views-field-field-main-image img, .block-191 .views-field-field-main-image img, .pane-block-196 .views-field-field-main-image img {
	border: 1px solid #EFEFEF;
}

#block-views-publication-items-block-1 .views-field-title, .block-191 .pubtitle, .pane-block-196 .pubtitle {
	margin-left: 55px;
}

#block-views-publication-items-block-1 .views-row, .block-191 .views-row, .pane-block-196 .views-row { 
	clear:left;
	border-bottom: solid 1px #A7A7A7;
	padding: 5px 0;
	min-height: 62px;
}
	
.view-publication-items h3, h3.pubtitle {
	font-size: 14px;
}

/* Footer */

#zone-footer {
	border-top: solid 6px gray;
	padding-top: 1em;
}

#footertext div {
	margin: 0;
}

#footertext div.col1 {
	padding-left: 75px;
	margin: 0 -50px 0 -5px;
	background:url(../colours/set_0/logosm.png) 0 4px no-repeat;
}

#footertext .social span {
	display:block;
	float:left;
}
#footertext .social a {
	float:left;
	display:block;
	width:60px;
	height:19px;
	overflow:hidden;
}

#footertext .social a:before {
	display:inline-block;
	font-size:0;
	line-height:0;
	padding: 0 5px;
}

#footertext a.google:before {
	content:url(../images/google.png);
	border-right: solid 1px #A7A7A7;
}

#footertext a.facebook:before {
	content:url(../images/facebook.png);
	border-right: solid 1px #A7A7A7;
}

#footertext a.twitter:before {
	content:url(../images/twitter.png);
	border-right: solid 1px #A7A7A7;
}

#footertext a.youtube:before {
	content:url(../images/youtube.png);
}

#footertext .social a:hover:before {
	margin-top: -19px;
	text-decoration:none;
}

#block-menu-menu-footer-menu li.leaf {
	width: 45%;
	float:left;
	list-style: none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 120%;
	border-bottom: solid 1px #A7A7A7;
	line-height: 1.5em;
	padding: 0em;
	margin: 0 0 0 1em;
}

.visitus {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ABABAB;
}

#block-menu-menu-footer-menu {
	margin-left: -1.2em; 
}

/* Views, panels */

.views-table, .views-table tr, .views-table th {
	border: none !important;
	background:#FFF;
}

.views-table td {
	padding: 0;
	vertical-align: top;
}

td.views-field-body, td.views-field-title {
	width: 33.3%;
	padding-right: 2em;
}

td.views-field-field-main-image {
	width: 66.7%;
	text-align:right;
}

.page-about-us .node-story {
	min-height: 36em;
}

.panel-display h3 {
	margin-bottom: 0;
}

/* User profiles */

.profile .user-picture {
	float: left;
	margin: 0 30px 20px 0;
}

.profile .field-name-field-position {
	margin-bottom: 1em;
	font-weight: bold;
}

.profile .field-name-field-expertise {
	clear:left;
}

.page-projects .view-glossary .views-widget, .page-projects .view-glossary .views-operator {
	float:left;
}

.profile .field-label {
	width: 140px;
}

/* Contact us page */

.page-node-119 .quicktabs-tabs .first {
	margin-left:11em;
}

.page-node-119 .form-item label {
	margin-right: 1em;
	width: 10em;
	display: block;
	float: left;
}

.page-node-119 input.form-text {
	width: 36em;
}

.page-node-119 .form-textarea-wrapper  {
	margin-left: 11em;
	width: 36em;
}


/* Misc */

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
	background-color:inherit;
}

#search404-page-text .error404 {
	float: left;
	max-width: 460px; 
}


/* , .page-news-blogs .views-field-body a, .page-blog .views-field-body a   */
.chevron {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 10px;
}

.view-latest-nodes img, .view-news-and-blogs img, .view-Highlights img, .view-latest-blogs-blocks img {
	border:1px solid #e3e3e3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	
.view-latest-blogs-blocks .highlight-text a:nth-of-type(2), .view-latest-nodes .highlight-text a:nth-of-type(2) {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 10px;
	text-decoration: none;
}

.page-about-us h3 {
    line-height: 1.1em;
}

/* themes page */

.view-themes-page h2 {
	border: none; 
	font-size: 21px;
	line-height: 24px;
}

.view-themes-page .theme-field {
	width: 235px;
	float:left;
	height: 200px;
	padding-top:10px;
	border-top: 1px solid #A8A8A8;
}

.view-popular-tags .views-field {

	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 14px;
	margin-bottom: 1em;	
}
.view-popular-tags .view-footer, .view-popular-tags-group .view-footer {
    border-top: 1px solid #A7A7A7;
}
	
.view-latest-blogs-blocks .view-display-id-attachment_1 {
	margin-bottom:1em;
}

.highlights img {
	border: 1px solid #E3E3E3;
    border-radius: 3px 3px 3px 3px;
	margin-bottom: 0.5em;
}

.highlights {
	 border-bottom: 1px solid #A7A7A7;
	 padding-bottom:6px;
}

.pane-custom .theme-more-link {
	border-top: 1px solid #A7A7A7;
	border-bottom: 1px solid #A7A7A7;
    clear: left;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 21px;
    line-height: 1.9em;
    margin-bottom: 10px;
    text-align: left;
}

/* Individual theme page */

.rss-icons {
	float: right;
	margin-top: -52px;
}

/* explore tags */

.view-explore-tags .alpha-pager {
	margin: 30px 0;
	font-size: 20px;
	font-family:Georgia, "Times New Roman", Times, serif;	
}

.view-explore-tags table {
	border: none; 
}

/* tags pages */

.page-taxonomy-term .view-mode-teaser, .view-content-by-theme .view-mode-teaser { /* includes projects and articles view */
	border-bottom: solid 1px #A7A7A7;
	min-height: 3em;
	margin-bottom: 1em;
	padding-bottom: 5px;
}

.field-name-custom-field-node-type {
	text-transform: capitalize;
}

.node-teaser .field-name-body {
	margin-top: 1em;
}

.page-taxonomy-term .feed-icon {
	display:none;
}

/* group pages */

.view-staff-contact .staff-row {
	width: 310px;
	float:left;
	padding-bottom: 10px;
	border-bottom: 1px solid #A8A8A8;
}

.view-staff-contact .staff-row img {
	float: left;
	margin-right: 20px;
}

#page .field-items fieldset.collapsed {
	border-bottom: 1px solid #A8A8A8;
}

#page .field-items fieldset.collapsed fieldset-legend {
	float-right;
	}
	
	
.context-group #region-postscript-first, .context-group #region-postscript-second, .context-group #region-postscript-second {
	width: 300px;
}

.context-group .view-popular-tags h2 {
	border: none;
	font-size:14px;
}
	
/* group page */	

.view-groups-page .views-field-field-main-image {
	clear: left;
	float:left;
	margin-right: 20px;
}

.view-groups-page .views-row {
	border-bottom: 1px solid #A8A8A8;
	margin: 15px 0px 15px 0px;
}

.view-groups-page .views-row-last {
	border-bottom: none;
	margin: 15px 0px 30px 0px;
}

/*jobs*/

.view-job-lists .views-field-field-dates, .node-job .field-name-field-dates {
	margin-bottom: 1.5em;	
}

.view-job-lists .views-row {
	padding-bottom: 30px;
}

/* projects */

.node-type-project .field-label-inline, .node-type-project .field-label-above, .node-type-project .field-label, .node-type-project .field-type-taxonomy-term-reference .field-items, .node-type-project .field-name-field-dates .field-items {
	margin: 0 0 1em 0;
}

/*views slidehow carousel styles*/

#block-views-carousel-slideshow-block, #block-views-carousel-slideshow-block-1, #block-views-carousel-slideshow-block-2, .pane-carousel-slideshow {
	width: 100%;
	position: relative; 
	background-color: #D3CDC2;
    border-bottom: 1px solid #A7A8AB;
    margin: auto;
    text-align: left;
	overflow:hidden;
	height: 300px;
	
}

#block-views-carousel-slideshow-block img, #block-views-carousel-slideshow-block-1 img, #block-views-carousel-slideshow-block-2 img, .pane-carousel-slideshow img {
	border-left: 1px solid #D3CDC2; 
}

#widget_pager_bottom_carousel_slideshow-block, #widget_pager_bottom_carousel_slideshow-block_1, #widget_pager_bottom_carousel_slideshow-block_2 {
	position:absolute;
	width:100%;
	left:60px;
	bottom:10px;
	z-index:100;
}
	
.views-slideshow-pager-fields .views-content-counter {
  float: left;
  height: 20px;
  width: 40px;
  margin-right: 8px;
  text-indent: -9999px;
  cursor: pointer;
  border-bottom: 6px solid #ffffff;
  z-index: 300; 
}

.views-slideshow-pager-fields .active .views-content-counter {
   border-bottom: 6px solid #00B3DF;
   -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#views_slideshow_controls_text_previous_carousel_slideshow-block, #views_slideshow_controls_text_next_carousel_slideshow-block, #views_slideshow_controls_text_previous_carousel_slideshow-block_1, #views_slideshow_controls_text_next_carousel_slideshow-block_1, #views_slideshow_controls_text_previous_carousel_slideshow-block_2, #views_slideshow_controls_text_next_carousel_slideshow-block_2
 {
  width:46px;
  height:50px;
  position:absolute;
  top:150px;
  overflow:hidden;
}

#views_slideshow_controls_text_previous_carousel_slideshow-block, #views_slideshow_controls_text_previous_carousel_slideshow-block_1, #views_slideshow_controls_text_previous_carousel_slideshow-block_2 {
  position: absolute;
  left: 15px;
  top: 245px;
  z-index:200;
  overflow:hidden;
  text-indent: -9999px;
}
#views_slideshow_controls_text_next_carousel_slideshow-block, #views_slideshow_controls_text_next_carousel_slideshow-block_1, #views_slideshow_controls_text_next_carousel_slideshow-block_2 {
  position:absolute;
  right:15px;
  top: 245px; 
  z-index:200;
  overflow:hidden;
  text-indent: -9999px;
}

#views_slideshow_controls_text_previous_carousel_slideshow-block:active, #views_slideshow_controls_text_previous_carousel_slideshow-block:hover, #views_slideshow_controls_text_previous_carousel_slideshow-block_1:active, #views_slideshow_controls_text_previous_carousel_slideshow-block_1:hover,
#views_slideshow_controls_text_previous_carousel_slideshow-block_2:active, #views_slideshow_controls_text_previous_carousel_slideshow-block_2:hover {
   background-position: 0px -56px;
   }

#views_slideshow_controls_text_next_carousel_slideshow-block:active, #views_slideshow_controls_text_next_carousel_slideshow-block:hover, #views_slideshow_controls_text_next_carousel_slideshow-block_1:active, #views_slideshow_controls_text_next_carousel_slideshow-block_1:hover, #views_slideshow_controls_text_next_carousel_slideshow-block_2:active, #views_slideshow_controls_text_next_carousel_slideshow-block_2:hover {
   background-position: -35px -56px;	
}

#views_slideshow_controls_text_pause_carousel_slideshow-block, #views_slideshow_controls_text_pause_carousel_slideshow-block_1, #views_slideshow_controls_text_pause_carousel_slideshow-block_2 {
  display:none;
}

.carousel-text {	
	float:left;
	max-width: 285px;
	padding: 25px 15px 15px 15px; 
}

a.ca {
text-decoration: none !important; 

}

.ctitle {
	display: block;
	font-family: Georgia,'Times New Roman',serif;
	font-size: 23px;
	line-height: 1.2em;
	margin-bottom: 15px
}

.ctext {
	font-size: 15px;
	color: #6D6D6D;
}

a .ctext:hover {
	color: #333333; 
	text-decoration: none !important; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.cimage {
	margin: 0px 0px 0px 320px; 	
}


.ctext a {
	color: #6D6D6D; 
}

.ctext a:hover {
	color: #333333; 
	text-decoration: none; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


/* hover style to move to color css */
.ctitle a:hover, ctitle a:focus {
	color: #00B3DF; 
	text-decoration: none; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

/* end views slideshow css */


/*finance page*/

div.arbox {
	width: 300px; 
	float: right; 
	margin-left: 20px;	
}

#panels-ipe-paneid-283 p {
	width: 600px;
}

/* people page */

.view-people .views-field {
	padding: 10px; 
	background-color: #FFF; 
	border-bottom: 1px solid  #F2F2F2; 
}

/* search pages */

.page-search #block-apachesolr-search-sort {
	margin-bottom: 1em; 
}

.page-search #block-apachesolr-search-sort .item-list li {
	font-family: Verdana, Geneva, sans-serif;
	font-size:13px;
	float: left;
	margin: 0 20px 0 0;
}

.page-search #block-apachesolr-search-sort h2.block-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight: bold;
	float: left;
	margin-right: 20px;
	border: none;
	color: #333;
	margin: 0 20px 0 0;
}

.page-search #region-sidebar-second .item-list ul li a.selected, .page-search #region-sidebar-second .item-list ul li a:hover, .block-facetapi ul.menu li a.active, .block-facetapi ul.menu li a:hover, .block-facetapi ul.menu li a:focus {
    background-image: url("../images/pointer.png");
    background-position: 0 center;
    background-repeat: no-repeat;
	list-style-type: none outside none;
}

.page-search #region-sidebar-second .item-list ul li a.selected, .page-search #region-sidebar-second .item-list ul li a:hover, .block-facetapi ul.menu li a.active, .block-facetapi ul.menu li a:hover, .block-facetapi ul.menu li a:focus {
    background-color: #666666;
    color: #FFFFFF;
    text-decoration: none;
	list-style-type: none outside none;
}

.page-search #region-sidebar-second .item-list ul li {
    list-style-image: none;
	list-style-type: none;
    margin-bottom: 3px;
    margin-left: 0;
}

ul li.leaf {
    list-style-type: none !important;
	list-style-image: none !important;
}
	

.page-search .block-facetapi ul.menu li a, .page-search #region-sidebar-second .item-list ul li a {
    padding: 0.153846em 0.384615em 0.230769em 1em;
}

.search-footer {
	margin: 1em 0;
}

.search-results li {
	clear:left;
}

/* media centre */

.page-media-centre .pane-custom.pane-5 ul {
    list-style: none;
}

.page-media-centre .pane-custom.pane-5 li img {
	margin-right: 5px;
}

/* images */

.node-book img, .node-type-article .field-name-body img {
	margin: 3px 10px 3px 10px ; 	
}

.node-type-blog .right {
	float: right; 
	margin: 0px -80px 0px 10px;
}

.image-caption {
    border-bottom: 1px solid #CCCCCC;
    font-size: 90%;
    color: #999;
    line-height: 1.2em;
    margin: 0;
    padding: 5px 0;
}


.flickr-photo-img.right, .flickr-photo-img.left {
	float: right;
    margin: 10px 0 10px 10px;
}



/* Our work */

.page-about-us td.views-field-field-main-image, .page-our-work td.views-field-field-main-image {
	padding-top: 8px;
}

.page-our-work .panels-flexible-region-inside .panel-pane.pane-custom.pane-1 {
    padding-right: 0.5em;
}

/* IE anti-aliasing fix */
.ctitle {
	background-color: #D3CDC2; 
}

/* backend */

#block-system-user-menu {
	float:left;
	margin-bottom: 5px;
	background: none repeat scroll 0 0 #F7F7F7;
}

#block-system-user-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#block-system-user-menu ul li {
	display:inline;
	padding-left: 1em;
	margin: 0;
}

#block-system-user-menu ul li a {
	color:#6D6D6D;	
	padding-bottom: 3px;
}

#edit-taxonomy-vocabulary-19  {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

.field-type-location .fieldset-legend {
	font-weight: bold;
}

/* features */

#views_slideshow_cycle_main_mini_carousels-block img {
	float: right; 
	margin-left: 10px;	
}
	
#block-block-221 .tweets-pulled-listing .tweet-authorphoto {
	display: none;
}

#block-block-221 .tweets-pulled-listing span.tweet-text {
	margin-left: 0px; 
}

/* system */

ul.primary li a {
    background-color: #F1F1F1;
    padding: 0.1em 1em 0;
}

/* Explore tags */

.view-explore-tags .cols-2 td {
	width: 50%;
}

/* Blogs */

li.blog_usernames_blog {
	display:none !important;
}

/* E&U */

#block-menu-menu-on-this-site ul.menu li {
    margin: 0.5em 0 0;
}

.view-eandu-landing-page H3 {
	font-size: 18px;
}

.view-display-id-block_1 .views-field-body, .view-id-eandu_landing_page .views-field-body{
	margin-bottom:2em;
}

.field-name-field-url {
	border: solid 1px gray;
	padding:5px;
	margin: 10px 0;
}

/* iPhone and small screens */

@media screen and (max-device-width: 480px){	
h6.site-slogan {
	font-size: 150%;
}	
	
#main-menu li a {
 font-size:85%;
 margin-right: 1em;
 width: 12em;
}

#block-search-form {
	text-align:center;
	margin:auto;
	margin-top: 2em;
}

/* Panels pages CB added 20120421 */
.panels-flexible-region, .panels-flexible-column {
	clear:left;
}

.panels-flexible-column-3-2, .panels-flexible-column-3-1 {
	width: 100%;
}

.page-our-work p.caption span {
	display: block;
}

.page-our-work p.caption {
	margin-top: auto;
}


/* Flexslider direction nav */
.flex-direction-nav a  {
         overflow: visible;
}